/* required styles */

:root {
    font-size: 90%;
}
.container {
    font-size: 1.25rem;
}
.container-fluid {
  min-width: 800px;
}

.container-fluid.top {
  padding: 0;
}

hr {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

.ui-slider-range { background:linear-gradient(to right, rgb(255,0,0), rgb(0,0,255) ) }

table { width: 100%; border-collapse: collapse;}
table, td, th { border: 1px solid #ced4da; padding: 2px;}
th {text-align: left;}

.glyphicon-ok-circle {
      color:red;
}

.leaflet-control-layers {
        background: white; 
        margin-left: 4px;
        box-shadow: none;
        width: 3em;
        height: 3vh;
}
.leaflet-control-layers-expanded {
        overflow: auto;
        position:absolute;
        left:85%;
        top: 10px;
        border: 2px solid grey;
        box-shadow: none;
        background: #D9D9D9;
        min-width: 180px;
        min-height: 170px;
        z-index: 1000;
        border-radius: 4px;
}


.leaflet-control-layers-base {
        margin-left: 10px;
        text-align: left;
        border:2px solid transparent;
}

.leaflet-control-layers-toggle {
         margin-top:0px;
}

.leaflet-control-layers-label {
        display: none;
}

/* added to add a label to the popup */
.leaflet-control-layers-expanded .leaflet-control-layers-label {
        display: block;
        position: relative;
}

.cfm-control-colors-expanded {
        overflow: hidden;
        position:absolute;
        left:88%;
        border: 2px solid grey;
        box-shadow: none;
        background: #D9D9D9;
        min-width: 150px;
        min-height: 110px;
        z-index: 1000;
        border-radius: 4px;
}

.cfm-control-colors-list {
        display: none;
}

.cfm-control-colors-expanded .cfm-control-colors-list {
	display: block;
	position: relative;
	}

.cfm-control-colors-selector {
	margin-top: 2px;
	position: relative;
	}

.cfm-control-colors label {
	display: block;
	}

.cfm-control-colors-base {
        margin-left: 10px;
        text-align: left;
        border:2px solid transparent;
}

.cfm-control-download-expanded {
        overflow: hidden;
        position:absolute;
        right:10px;
        border: 2px solid grey;
        box-shadow: none;
        background: #D9D9D9;
        min-width: 160px;
        min-height: 130px;
        z-index: 1000;
        border-radius: 4px;
}

.cfm-control-download-list {
        display: none;
}

.cfm-control-download-expanded .cfm-control-download-list {
	display: block;
	position: relative;
	}

.cfm-control-download-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}

.cfm-control-download label {
	display: block;
	}

.cfm-control-download-base {
        margin-left: 10px;
        text-align: left;
        border:2px solid transparent;
}

#itemCount {
  display:none;
  position:absolute;
  top: 10px;
  left: 98%;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

div.mapData {
    max-height: 95%;
}

.cfm-top-small-btn {
          background: white; 
          padding: 6px 6px;
          font-size: 14px;
          color: #011638;
/*
          color: #6c6cff;
*/
          width: 3vw;
          height: 3vh;
          display: inline-block;
          border-radius: 2px;
          }

.cfm-small-btn {
          background: transparent ;
          color: #53A2BE;
          border: none;
          display: inline-block;
          }

.cfm-small-btn:disabled {
         color: white;
        }

div.button-container button {
    background: transparent ;
    color: #011638;
    border: none;
    display: inline-block;
    font-size: 1em;
}

.cfm-table {
          max-height: 40rem;
          border: 1px solid #ced4da;
          overflow: auto;
        }

.cfm-top-btn {
          background: #D5D5D5;
          padding: 1px 3px;
          border: 2px solid #D5D5D5;
          color: #011638;
          width: 10vw;
          height: 5vh;
          display: inline-block;
        }

.cfm-btn {
          background: white;
          border: 0px solid #D5D5D5;
          color: #011638;
          width: 5em;
          height: 3vh;
          display: inline-block;
        }


.cfm-btn:disabled {
         color: white;
        }

.cfm-div {
        position:relative;
        left: 10px;
        width:90%;
        }

select {
    width: 100%;
    border: 2px solid grey;
    border-radius: 2px;
}

input[type=text] {
    /*width: 140px;*/
    /*padding: 0px 5px 0px 5px;*/
}

.scec-header {
    background-color: #990000;
    border-radius: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-brand > img {
    display: block;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-brand, .navbar-nav>a {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
}
.navbar-nav a {
    color:white;
    padding-right: 20px;
}


@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 6px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-header a {
    color: white;
}
.navbar-brand .scec-logo {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

img {
    vertical-align: middle;
}

a {
    /*color: #990000;*/
    text-decoration: none;
}

.scec-main-container {
    /*border: 1px solid #333333;*/
    background-color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
    .scec-main-container {
        border: 0px;
    }
}

label {
    font-weight: bold;
}

ul li {
    list-style: none;
}

.box {

    padding: 10px;
    border: 1px solid #ced4da;
    min-height: 130px;
    background-color: whitesmoke;

}


#download-queue {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#download-queue::-webkit-scrollbar:vertical {
    width: 11px;
}

#download-queue::-webkit-scrollbar {
    -webkit-appearance: none;
}
#download-queue::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: gray;/*rgba(0, 0, 0, .5);*/
}

.wrapper {
     flex: 1 1 auto;
     position: relative;
 }

div.download-now button {
    cursor: pointer;
}

tr.row-selected {
    background-color: whitesmoke;
}

.form-control {
    font-size: 1.25rem;
}

tr.layer-hidden * {
    color: #ced4da;
}

.container .btn-dark {
    background-color: #495057;
    border-color: #495057;
    color: white;
}

#searchResult {
    min-height: 576px;
}

div.box a {
    color: #990000;
    text-decoration: none;
}

table tr td label {
    font-weight: normal;
}

.input-group {
    min-width: 222px;
}

.mapData label {
    font-weight: normal;
}
